@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPBQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
.mainNavigation {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .mainNavigation {
    margin-top: 0px;
    margin-left: 0px;
    background: #ffffff;
    width: 100%;
    box-shadow: -14px -12px 18px 4px #445048;
    flex-direction: column;
  }
}
.mainNavigation .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .mainNavigation .navContainer {
    flex-direction: column;
  }
}
.mainNavigation .navContainer .logo {
  width: 35%;
}
@media (max-width: 1150px) {
  .mainNavigation .navContainer .logo {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .mainNavigation .navContainer .logo {
    width: 70%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .logo {
    width: 75%;
  }
}
.mainNavigation .navContainer .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  width: 50%;
}
@media (max-width: 768px) {
  .mainNavigation .navContainer .nav {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .nav {
    flex-direction: column;
  }
}
.mainNavigation .navContainer .nav .signupBTN {
  background: #fed817;
  color: #445048 !important;
  border-radius: 4px;
  padding: 10px 40px;
}
.mainNavigation .navContainer .nav .signupBTN:hover {
  background: #445048;
  color: #fed817 !important;
  padding: 10px 40px;
  border-bottom: none !important;
}
.mainNavigation .navContainer .nav .navItem {
  color: #445048;
  text-decoration: none;
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .nav .navItem {
    margin-bottom: 20px;
  }
}
.mainNavigation .navContainer .nav .navItem:hover {
  font-weight: 600;
  transition: 0.1s ease-out;
  border-bottom: 5px solid #fed817;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background: #111;
}
.footer p {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 20px;
}
.footer a {
  color: #fed817;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
  color: #6fd0fe;
}
.footer i {
  color: #ffffff;
}
.footer i:hover {
  color: #fed817;
}
.topBar {
  width: 100%;
  height: 5px;
  background: #445048;
}
.home {
  max-width: 992px;
  width: 100%;
}
.home .simpsons {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0.1;
  left: 500px;
  top: 175px;
  z-index: -999;
  user-select: none;
  background-position: bottom right;
}
@media (max-width: 1150px) {
  .home .simpsons {
    left: 450px;
    top: 696px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .home .simpsons {
    left: 375px;
    top: 835px;
  }
}
@media (max-width: 650px) {
  .home .simpsons {
    display: none;
  }
}
.home .content-section {
  margin: 70px 0px 70px 0px;
  display: flex;
}
@media (max-width: 768px) {
  .home .content-section {
    margin: 50px 0px 50px 0px;
  }
}
.home .text-content {
  width: 100%;
}
@media (max-width: 1150px) {
  .home .text-content {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.home .text-content h1 {
  font-size: 5.5rem;
  font-weight: 900;
  color: #445048;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .home .text-content h1 {
    font-size: 4.1rem;
  }
}
.home .text-content h4 {
  font-size: 3rem;
  font-weight: 600;
  color: #445048;
  margin: 10px 0px 10px 0px;
}
.home .text-content span {
  font-size: 5.5rem;
  color: #fed817;
  font-weight: 500;
}
@media (max-width: 1150px) {
  .home .text-content span {
    font-size: 3.3rem;
  }
}
@media (max-width: 768px) {
  .home .text-content span {
    font-size: 3.3rem;
  }
}
@media (max-width: 650px) {
  .home .text-content span {
    display: flex;
    flex-direction: row;
  }
}
.home .text-content p {
  color: #445048;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
}
.home .text-content #andriodDownload {
  background: #fed817;
  color: #445048 !important;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-items: center;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  border-bottom: none !important;
}
.home .text-content #andriodDownload:hover {
  color: #fed817;
  background: #445048;
  cursor: pointer;
}
.home .text-content #andriodDownload i {
  color: #ffffff;
  font-size: 3rem;
}
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: #6fd0fe;
}
#background-wrap .c1 {
  animation: animateCloud 35s linear infinite;
  transform: scale(0.65);
}
#background-wrap .c2 {
  animation: animateCloud 20s linear infinite;
  transform: scale(0.3);
}
#background-wrap .c3 {
  animation: animateCloud 30s linear infinite;
  transform: scale(0.5);
}
#background-wrap .c4 {
  animation: animateCloud 18s linear infinite;
  transform: scale(0.4);
}
#background-wrap .c5 {
  animation: animateCloud 25s linear infinite;
  transform: scale(0.55);
}
/* KEYFRAMES */
@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
.cloud {
  background: #ffffff;
  background: linear-gradient(top, #ffffff 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}
.cloud:after,
.cloud:before {
  background: #ffffff;
  content: "";
  position: absolute;
  z-index: -1;
}
.cloud:after {
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}
.cloud:before {
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
.content-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .content-about {
    flex-direction: column;
  }
}
.content-about .profile {
  width: 49%;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s;
  filter: grayscale(0.5) sepia(0.2);
}
@media (max-width: 650px) {
  .content-about .profile {
    width: 100%;
  }
}
.content-about .profile:hover {
  border: none !important;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  filter: none;
}
.content-about .profile i {
  margin-right: 1rem;
  color: #6fd0fe;
}
.content-about .profile i:hover {
  transition: box-shadow 0.3s;
  color: #fed817;
  cursor: pointer;
}
.content-about .info {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 38px;
  padding-left: 20px;
  transition: all 0.35s;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.content-about .thumbnail {
  margin-bottom: 17px;
}
.content-about .position {
  color: #445048;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.content-about .name {
  color: #445048;
  margin: 8px 0px 16px 0px;
  font-size: 1.8rem;
  font-weight: 600;
}
.content-about .contact {
  margin-top: 4px;
  transition: all 0.25s;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
.signupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}
.signupContainer h1 {
  font-weight: 700;
  color: #384047;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
  font-size: 3.3rem;
}
.signupContainer strong {
  font-weight: 900;
  color: #445048;
}
.signupContainer .signupHeader {
  margin: auto;
}
.signupContainer .signupHeader a {
  color: #6fd0fe;
  text-decoration: none;
}
.signupContainer .signupHeader a:hover {
  color: #fed817;
}
form {
  background-color: #fff;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 0px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e7e7e7;
}
form:hover {
  border: none;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}
form input {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 100%;
}
form input {
  color: #445048;
  background: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 100%;
}
form input:focus {
  outline: none;
}
.button {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #ffffff;
  background: #6fd0fe;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  color: #445048;
  background: #fed817;
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}
.button span {
  position: relative;
  z-index: 1;
}
@keyframes grow {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
}
@media (max-width: 768px) {
  .tabs {
    display: none;
  }
}
@media (max-width: 650px) {
  .tabs {
    display: none;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-bottom: 70px;
}
.tabs .topics .title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #445048;
  background-color: none;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.tabs .topics .tab:hover {
  text-decoration: none;
  color: #445048;
  background: #fed817;
  border-radius: 4px;
}
.tabs .topics .active-tab {
  background-color: #fed817;
  color: #445048;
  border-radius: 4px;
  font-weight: 600;
}
