/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
.mainNavigation {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .mainNavigation {
    margin-top: 0px;
    margin-left: 0px;
    background: #ffffff;
    width: 100%;
    box-shadow: -14px -12px 18px 4px #445048;
    flex-direction: column;
  }
}
.mainNavigation .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .mainNavigation .navContainer {
    flex-direction: column;
  }
}
.mainNavigation .navContainer .logo {
  width: 35%;
}
@media (max-width: 1150px) {
  .mainNavigation .navContainer .logo {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .mainNavigation .navContainer .logo {
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .logo {
    width: 75%;
  }
}
.mainNavigation .navContainer .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  width: 40%;
}
@media (max-width: 768px) {
  .mainNavigation .navContainer .nav {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .nav {
    flex-direction: column;
  }
}
.mainNavigation .navContainer .nav .signupBTN {
  background: #6fd0fe;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 10px 40px;
}
.mainNavigation .navContainer .nav .signupBTN:hover {
  background: #fed817;
  color: #445048 !important;
  padding: 10px 40px;
  border-bottom: none !important;
}
.mainNavigation .navContainer .nav .navItem {
  color: #445048;
  text-decoration: none;
}
@media (max-width: 650px) {
  .mainNavigation .navContainer .nav .navItem {
    margin-bottom: 20px;
  }
}
.mainNavigation .navContainer .nav .navItem:hover {
  font-weight: 600;
  transition: 0.1s ease-out;
  border-bottom: 5px solid #fed817;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background: #111;
}
.footer p {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 20px;
}
.footer a {
  color: #fed817;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer i {
  color: #ffffff;
}
.footer i:hover {
  color: #fed817;
}
.topBar {
  width: 100%;
  height: 5px;
  background: #445048;
}
.home {
  max-width: 992px;
  width: 100%;
}
.home .simpsons {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0.1;
  left: 500px;
  top: 175px;
  z-index: -999;
  user-select: none;
}
@media (max-width: 1150px) {
  .home .simpsons {
    left: 450px;
    top: 696px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .home .simpsons {
    left: 375px;
    top: 835px;
  }
}
@media (max-width: 650px) {
  .home .simpsons {
    display: none;
  }
}
.home .content-section {
  margin: 70px 0px 70px 0px;
  display: flex;
}
@media (max-width: 768px) {
  .home .content-section {
    margin: 50px 0px 50px 0px;
  }
}
.home .text-content {
  width: 100%;
}
@media (max-width: 1150px) {
  .home .text-content {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.home .text-content h1 {
  font-size: 5.5rem;
  font-weight: 900;
  color: #445048;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .home .text-content h1 {
    font-size: 4.1rem;
  }
}
.home .text-content h4 {
  font-size: 3rem;
  font-weight: 600;
  color: #445048;
  margin: 10px 0px 10px 0px;
}
.home .text-content span {
  font-size: 5.5rem;
  color: #fed817;
  font-weight: 500;
}
@media (max-width: 1150px) {
  .home .text-content span {
    font-size: 3.3rem;
  }
}
@media (max-width: 768px) {
  .home .text-content span {
    font-size: 3.3rem;
  }
}
@media (max-width: 650px) {
  .home .text-content span {
    display: flex;
    flex-direction: row;
  }
}
.home .text-content p {
  color: #445048;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
}
.home .text-content #andriodDownload {
  font-family: 'Raleway', sans-serif;
  background: #fed817;
  color: #ffffff !important;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-items: center;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  border-bottom: none !important;
}
.home .text-content #andriodDownload:hover {
  color: #445048 !important;
  background: #6fd0fe;
  cursor: pointer;
}
.home .text-content #andriodDownload i {
  color: #445048 !important;
  font-size: 3rem;
}
