.mainNavigation {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
      width: 25%;
    }

    .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      width: 40%;

      .signupBTN {
        background: @button-bg;
        color: @white !important;
        border-radius: 4px;
        padding: 10px 40px;

        &:hover {
          background: @yellow;
          color: @black !important;
          border-bottom: 0px;
          padding-bottom: 0px;
        }
      }

      .navItem {
        color: @font-color;
        text-decoration: none;

        &:hover {
          font-weight: 600;
          border-bottom: 2px solid @yellow;
          padding-bottom: 5px;
          transition: 0.1s ease-out;
        }
      }
    }
  }
} // end navigation
