// Color assignments
@font-color: @black;
@button-bg: @eastern-blue;
@main-bg: @white;
@footer-bg: @sandy-brown;

// Colors
@white: #ffffff;
@yellow: #fed817;
@black: #445048;
@eastern-blue: #6fd0fe;
@sandy-brown: #d0b070;

// Font
@font-main: @font;

@font: 'Raleway', sans-serif;

// Media Query Escape

// Laptop / desktop / Small monitors
@desktop: ~"(max-width: 1150px)";

// Tablet
@tablet: ~"(max-width: 768px)";

// Mobile
@mobile: ~"(max-width: 650px)";

